@import "../../styles/settings/__settings";

.confirm {
  position: absolute;
  left: 0;
  right: 0;
  top:0;
  bottom:0;
  background-color: #999999;
  z-index:1000;

  div {
    width: 500px;
    height: 100px;
    background-color: white;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
  }
}