@import "../../styles/settings/__settings";

.delete {
  float: right;
  padding: 1rem;
  text-align: left;
  color: black;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 0 10px 10px 0;
  margin-left: -16px;
  height: 200px;
  
  &:hover,
  &:focus,
  &:active {
    background-color: $color-delete;
    color: white;
    border-color: $color-delete;
    cursor: pointer;
  }
  
  h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }
  
  p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  }
  
}