.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
  }

  li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
    font-size: 1em;
  }

  li a:hover,
  input:hover {
    background-color: #f4f4f4;
  }
  a {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
  }
  /* menu */

  ul {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }

  /* menu icon */

  label {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }

  span {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
  }

  span:before,
  span:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }

  span:before {
    top: 5px;
  }

  span:after {
    top: -5px;
  }

  /* menu btn */

  input {
    display: none;
  }

  input:checked ~ ul {
    max-height: 240px;
  }

  input:checked ~ label span {
    background: transparent;
  }

  input:checked ~ span:before {
    transform: rotate(-45deg);
  }

  input:checked ~ span:after {
    transform: rotate(45deg);
  }

  input:checked ~ label:not(.steps) span:before,
  input:checked ~ label:not(.steps) span:after {
    top: 0;
  }

  /* 48em = 768px */

  @media (min-width: 48em) {
    li {
      float: left;
    }
    li a {
      padding: 20px 30px;
    }
    ul {
      clear: none;
      float: right;
      max-height: none;
    }
    label {
      display: none;
    }
  }
}
